# file ausiliari di latex
.latexmkrc
*.aux
*.cut
*.fdb_latexmk
*.fls
*.lof
*.log
*.synctex.gz
*.toc

# file di scripting
# *.bat

# file di cache
_minted*

# file sorgenti
# *.tex
# *.sty

# file sorgenti ausiliari
archived/

archived/exercises/
assets/handouts/
archived/lab/
archived/notes/
archived/exams/compiti/
archived/exams/soluzioni/

# preamboli
# formulario/preamble/
