# file ausiliari di latex
*.aux
*.fdb_latexmk
*.fls
*.fmt
*.idx
*.loa
*.loc
*.lof
*.log
*.lot
*.pdf
*.pyg
*.synctex.gz
*.synctex(busy)
*.toc
**/_minted-cache

!src/assets/**/*.pdf
src/tests
