# file ausiliari di latex
.latexmkrc
*.aux
*.cut
*.fdb_latexmk
*.fls
*.lof
*.log
*.synctex.gz
*.toc

# file di scripting
*.bat

# file di cache
_minted*

# file sorgenti ausiliari
assets/exercises/
assets/figures/mwe/
assets/handouts/
assets/lab/
assets/lab-codes/
assets/notes/

exams/compiti/
exams/soluzioni/

formulario/preamble/

questions/
