name: Build LaTeX document
on:
  push:
    branches: master
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2
      - name: Set up JVM
        uses: actions/setup-java@v1
        with:
          java-version: '11'
          java-package: jdk # (jre, jdk, or jdk+fx)
          architecture: x64 # (x64 or x86)
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
          architecture: 'x64'
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install Pygments
      - name: Compile LaTeX document
        uses: xu-cheng/texlive-action/full@v1
        with:
          run: |
            ./src/scripts/unix/compile-project.sh
      - name: Upload zip folder as artifact
        uses: actions/upload-artifact@v2
        with:
          name: "dispensa+capitoli-$(date +'%Y.%m.%d_%H.%M')"
          path: |
            ./src/build/chapters
            ./src/build/main.pdf
          if-no-files-found: warn
          retention-days: 7
        if: ${{ success() }}
      - name: Send Lecture Notes to Telegram Group
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: Nuova build
          document: ./src/build/main.pdf
        if: ${{ success() }}